        h1{
            color:#428bca;
            text-align: center;
               
        }

        p{
            text-align: center;
            padding: 10px;
        }

        form.form-horizontal{
            margin: 100px;
        }
        .checkbox{
            float: right;   
        }
    #pwd{
        margin-top: 4px;   
    }
    #username{
        margin-top: 4px;
    }
    
    div{
        position: relative;    
    }    
    button{
        position: absolute;
        right: auto;
        top: auto;
    }


    .nav-tabs{
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        
    }

    .nav-tabs a{
        display: inline-block;
        
    }


    table{
        margin-top: 45px;
        margin-bottom: 30px;

    }
    table.centered{
            margin-left: auto;
            margin-right: auto;
        }
        
    table.lefted{
            width: 300px;
            float: left;   
            margin-top: 0px;   
            margin-left: 0px;           
        }
    table.lefted td{
            margin-right: 30px;
        }

    th{
        padding-bottom: 5px;
        padding-top: 15px;
        padding-right: 20px;


    }
    table.centered input{
        width: 400px;
    }
    table input{
        width: 40px;
    }

    
    section {
        margin-left: 50px;   
        margin-top: 10px;
        
    }

    h3{
        margin-left: 50px;
        border-bottom: 1px solid;
        position: absolute;
        top: 200px;
        
    }
        

   main {
            padding-top: 2px;
        }
       
        
 