        h1{
            color:#428bca;
            text-align: center;
               
        }

        p{
            text-align: center;
            padding: 10px;
        }

        form{
            margin: 100px;
        }
        .checkbox{
            float: right;   
        }
    #pwd{
        margin-top: 4px;   
    }
    #username{
        margin-top: 4px;
    }
    button{
        vertical-align: top;   
    }


    .nav-tabs{
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        
    }

    .nav-tabs a{
        display: inline-block;
        
    }


    table{
        margin-top: 75px;
        margin-bottom: 30px;
    }

    th{
        padding-bottom: 5px;
        padding-top: 15px;
        padding-right: 20px;


    }
    table input{
        width: 40px;
    }

    
    section {
        margin-left: 50px;   
        margin-top: 10px;
        
    }

    h3{
        margin-left: 50px;
        border-bottom: 1px solid;
        position: absolute;
        top: 200px;
        
    }
        
