        h1{
            color:#428bca;
            text-align: center;
               
        }

        p{
            text-align: center;
            padding: 10px;
        }

        form{
            margin: 100px;
        }
        .checkbox{
            float: right;   
        }
    #pwd{
        margin-top: 4px;   
    }
    #username{
        margin-top: 4px;
    }
    button{
        vertical-align: top;   
    }



        
