<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=membershipU9hd3;pwd=&quot;txBL=W_E#v^)&quot;;Database=membership" name="membership" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=localhost;uid=TaskMeNowUogce;pwd=&quot;^=G4rzK*-AYW&quot;;Database=TaskMeNow" name="TaskMeNow" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>